main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #2E19E5;
  
}
h1{
 
  font-style:italic;
   color: #FA02AC;
}

p{
 
  font-style: italic;
  color: #FDACE3

}
