main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #2E19E5;
  
}
h1{
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
   color: #FA02AC;
}

p{
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  color: #FDACE3

}
